<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>598170809614-4tvlpu12li6es6aroqp3heh3mh9g792k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.598170809614-4tvlpu12li6es6aroqp3heh3mh9g792k</string>
	<key>API_KEY</key>
	<string>AIzaSyAdZv9DnHurUXEmU4hb3KbXzijKUlB98mY</string>
	<key>GCM_SENDER_ID</key>
	<string>598170809614</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.djeverywhere</string>
	<key>PROJECT_ID</key>
	<string>djevery</string>
	<key>STORAGE_BUCKET</key>
	<string>djevery.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:598170809614:ios:fd0d1fcc67d2285143135f</string>
</dict>
</plist>